{% extends 'base.html.twig' %}

{% block title %}Completed series
{% endblock %}

{% block body %}
	{% if (completed|first) != null %}
		{% include('./header.html.twig') with {'poster_picture_id': (completed|first).id}  %}
	{% else %}
		{% include('./header.html.twig') %}
	{% endif %}
	<div class="2xl:px-64 xl:px-32 md:px-10 w-full scrollable">
		<div class="m-5">
			<a href="{{ path('app_series_show_followed') }}" class="p-2 bg-[--grey] hover:text-white rounded m-2">Your followed series</a>
			<a href="{{ path('app_series_show_completed') }}" class="p-2 bg-[--grey] text-white rounded m-2">Your completed series</a>
		</div>
		{% if (completed|first) != null %}
			<h1 class="text-3xl font-bold p-2 m-5">Series you've completed</h1>
			<div class="md:grid flex gap-4 md:grid-cols-5 md:grid-rows-2 md:overflow-hidden overflow-auto ">
				{% for serie in completed%}
					<div class="flex flex-col md:px-0 px-5">
						<div class="relative w-[10rem] h-64 group overflow-hidden rounded">
							<a href="{{ path('app_series_show', {'id': serie.id}) }}">
								<img src="{{ path('app_series_poster', {'id': serie.id}) }}" alt="Series poster" class="w-auto h-full object-cover max-w-48 ">
							</a>
							{% include('./follow.html.twig') with {'serie': serie} %}
						</div>
					</div>
				{% endfor %}
			</div>
			{% include('./pagination.html.twig') with {'app_path': "app_series_show_completed", "pagesNb": pagesNb} %}

		{% else %}
			<h2 class="text-xl font-bold p-2 m-3">You did not complete any series</h2>
		{% endif %}
	</div>

{% endblock %}
