@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root{
    /*Set the variables used throughout every template files*/
    --black: #030516;
    --white: #b1b1b1;
    --grey: #363747;
    --dark-blue: #161124;
}