{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	{% include('./header.html.twig')  %}
    
    <div>
        <div>
            <p>{{ "now"|date("j F") }} Hall of Fame</p>
            <ul class="flex gap-6 place-content-around">
                {% for serie in hall_of_fame %}
                    <li class="flex gap-0 flex items-center">
                        <p class="text-9xl font-extrabold" style="font-size:30rem">{{loop.index}}</p>
                        <img src="{{ path('app_series_poster', {'id': serie.id}) }}" alt="Series poster" class="translate-center object-cover -translate-x-16 h-96 translate-y-8">
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>

    <h1>Hello  {% if app.user %} {{app.user.name}} {% endif %} ! </h1>
{% endblock %}
