{% if app.user %}
	<button 
	x-data="{ following: {{ app.user.getSeries().contains(serie) ? 'true' : 'false'}} }" 
	@click="following = !following" 
	onclick="follow('{{ path('app_series_update_followed', {'id': serie.getId(), 'update': serie.getId()}) }}')" 
	class="absolute left-0 w-auto top-0 w-full p-2 transition-all ease-in-out duration-200"
	:class="{ 'translate-y-0': following, 'md:-translate-y-full md:group-hover:translate-y-0': !following }">
		<i id="season-follow-{{serie.getId()}}" class="nf rounded-full bg-[--grey] p-2" :class="{ 'nf-fa-bookmark': following, 'nf-fa-bookmark_o': !following }"></i>
	</button>
	<script src="{{asset("follow.js")}}"></script>
{% endif %}
